<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Advanced Combat Tracker" publicKeyToken="a946b61e93d97868" culture="neutral"/>
				<bindingRedirect oldVersion="2.0.0.0-3.65535.65535.65535" newVersion="3.4.9.271"/>
			</dependentAssembly>
		</assemblyBinding>
		<AppContextSwitchOverrides value="Switch.System.Net.DontEnableSchUseStrongCrypto=false"/>
		<AppContextSwitchOverrides value="Switch.System.Net.DontEnableSystemDefaultTlsVersions=false"/>
	</runtime>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
	</startup>
</configuration>
